BINANCE_API_KEY=TU_API_KEY_TESTNET_AQUI_64CHARS_FICTICIA_REEMPLAZAR
BINANCE_SECRET_KEY=TU_SECRET_KEY_TESTNET_AQUI_64CHARS_FICTICIA_REEMPLAZAR
WS_BASE_URL=wss://stream.testnet.binance.vision
REST_BASE_URL=https://testnet.binance.vision
ENTORNO=testnet
